{% extends 'layouts/base.html' %}

{% block content %}
<main class="container py-5">
   <section class="card card-body">
      <h1 class="display-1 text-center">Django App</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit at non eum ut reiciendis, obcaecati, ipsam
         suscipit, incidunt quisquam assumenda dicta pariatur quod accusamus! Ipsam dignissimos eveniet eos quaerat
         saepe, laboriosam magnam harum at adipisci maxime odit assumenda praesentium tenetur perferendis? Doloribus,
         odit sit quaerat vero explicabo placeat earum, sint eum modi cum tempore omnis magnam dolor repellat. Tenetur
         similique ab deleniti libero mollitia voluptatum illum dolore nesciunt dolor, dolorem sequi rem facilis aut
         suscipit minima corrupti optio atque quod, veniam incidunt ipsa esse! Natus nulla porro officia rem perferendis
         veniam, assumenda sunt, eius illo sapiente laudantium accusamus, aut esse.</p>
         <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
         </div>
   </section>
</main>
{% endblock %}